<html style="background-color: #e6feff;">
<head>
<meta charset="utf-8"/>
<title>Posts</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<head>
<body>
<div id="wrapper" style="width: 90%; margin-left: auto; margin-right: auto">
<div id="banner" style="background-color: #00c5cc; height: 30%; border: 1px solid #006366; padding: 10px; margin: 0px 0px 10px 0px">
  <h1 style="font-size: 250%; color: #1b1b1b">Ex Roomies :'( Still Besties :)</h1>
  <a href="../html/profile-template.html">My profile</a>
  <a href="../html/submit-post.html">New post</a>
</div>
<div id="feed-list" style="height=70%">
<div v-for="post in posts" v-if="post.content && !post.parent_id" style="background-color: #fcfcfc; height:20%; border: 1px outset #006366; padding: 5px; margin: 1px;">
  <div>
    <a @click="voteOnPost(post.post_id)" style="display: inline-block; width: 10%"><img src="../icons/voteicon.png" style="width: 50%"></a>
    <h3 style="font-size: 150%; color: #1b1b1b; display: inline-block; cursor: pointer" @click="openPost(post.link)">{{ body(post.content) }}</h3>
  </div>
  <p style="font-size: 50%; color: #1b1b1b; display: inline-block">Posted by {{ post.author }} on {{ post.create_date }}</p>
 <a @click="viewComments(post.post_id)" style="display: inline-block" href="../html/comments-template.html"><img src="../icons/commenticon.png" style="width: 10%; height: 25%"></a>
</div>
</div>
</div>
<script src="../scripts/feed.js"></script>
<script src="../scripts/cookie-parser.js"></script>
</body>
</html>
