<html style="background-color: #ffffe6">
<head>
<meta charset="utf-8"/>
<title>Posts</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<head>
<body>
<div  id="wrapper">
<div id="banner">
  <h1>Group title</h1>
  <a href="../html/profile-template.html">My profile</a>
  <a href="../html/submit-post.html">New post</a>
</div>
<div id="feed-list">
<div v-for="post in posts" v-if="post.content" style="background-color: lightgray; border: 2px solid; padding: 5px; margin: 1px;">
  <span @click="openPost(post.link)">
    <h3>{{ body(post.content) }}</h3>
    <p>Posted by {{ post.author }} on {{ post.create_date }}</p>
  </span>
  <button @click="voteOnPost(post.post_id)">Upvote</button>
  <a @click="viewComments(post.post_id)" href="../html/comments-template.html">Comments</a>
</div>
</div>
</div>
<script src="../scripts/feed.js"></script>
<script src="../scripts/cookie-parser.js"></script>
</body>
</html>
