<html style="background-color: #ffffe6">
<head>
<meta charset="utf-8"/>
<title>FriendGroup</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<head>
<body>
<div  id="wrapper">
<div id="banner">
  <h1>Group title</h1>
  <a href="../html/profile-template.html">My profile</a>
</div>
<div id="feed-list">
<div v-for="post in posts" v-if="post.content" style="background-color: lightgray; border: 2px solid; padding: 5px; margin: 1px;">
  <h3>{{ post.content }}</h3>
  <p>Posted by {{ post.author }} on {{ post.create_date }}</p>
</div>
</div>
</div>
<script src="../scripts/feed.js"></script>
</body>
</html>
