<html>
<head>
<meta charset="utf-8"/>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<title>FriendGroup Login</title>
</head>
<body>
<div id="wrapper">
<h1 width="90%">Enter Username and Password</h1>
<div id="login">
<form>
    	Username<br>
	<input type="text" v-model="user" placeholder="Enter Username..."><br>
    	Password<br>
    	<input type="text" v-model="pass" placeholder="Enter Password..."><br>
</form>
<button id="button" @click="loginUsingInput">Submit</button><br>
<a href="">Click here to request sign up.</a>
</div>
</div>
<script src="../scripts/login.js"></script>
</body>
</html>
